

html {

	background: #000000;

}

body {

	margin: 0;

	padding:0;

	font-family: Constantia;

	font-size: 12px;

	line-height: 1.5em;

	color: #333333;

	width: 100%;

	display: table;

}

a { color: #00FF00; }
a:hover { color: #FFFFFF; }

#section_top {

	width: 100%;
	
	height:212px;

	background: #000000;

}

#background_section_middle {

	width: 100%;
	
	background: black;
	
	clear: both;
	
	overflow:hidden;

}

#background_section_bottom {

	width: 100%;
	
	height: 327px;

	background: #000000;
	
	float: left;

}

.container {

	width: 960px;

	margin: auto;

}

#header {

	width: 100%;
	height:168px;	
	background:#000000;
	padding: auto;
	margin: auto;

}

/* Logo Area */
#logo_section {

	width:auto;
	height:auto;
	margin-top:28px;
	margin-left: 60px;
	float:left;	
	display: inline;
}
#logo_section1 img {

	 position:absolute;
 top: 1%; 
 left: 67%;
 margin: 0 5px;
}


#logo_section h1 {
	
	margin-top: 9px;
	padding-left: 40px;
	font-size: 42px;
	color:#00FF00;
	text-shadow: 0 1px 0px rgba(0,0,0,0.4); 
	margin:-4px;
	font-weight: normal;
	text-decoration: none;
}

#logo_section h2{
	
	font-size:18px;
	color:#00FF00;
	 position:absolute;
 top: 2.3%; 
 left: 70%;
 margin: 0 5px;
	font-weight: normal;
	
}

#logo_section h4{
	
	font-size:18px;
	color:#00FF00;
 position:absolute;
 top: 1%; 
 left: 5%;
	font-weight: normal;
	
}
#logo_section h3{
	
	font-size:18px;
	color:#00FF00;
 position:absolute;
 top: 1%; 
 left: 62%;
	font-weight: normal;
	
}
/* End Of Logo Area*/


#language {
float:right; 
padding-top:-15px; 
padding-right:-20px;
}
/* End Of Search Box*/
/* Menu Section */

#menu_panel{
	width:100%;
	height: 49px;	
	margin: 0 auto;
	background: url(images/menu_bg.jpg) repeat-x;
	float:left;
}

#menu_panel #menu_section{
	width: 930px;
	height: 49px;	
	margin:0 auto;
	padding: 0 0 0 30px;
	
	color: #00FF00;
	text-align:left;
	




}

#menu_section ul {
	float: center;
	width: 930px;
	margin: 0;
	padding-top: 4px;
	padding-left: 20px;
	list-style: none;
		text-align:center;
}

#menu_section ul li{
	display: inline;
}

#menu_section ul li a{
	float: left;

	
	width: 110px;
	padding-top: 8px;
	padding-left: 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #00FF00;
}

#menu_section li a:hover, #menu_section li .current{
	color: 00FF00;
	height:36px;
	background:url(images/menu_current.jpg);
}

/* End Of Menu */

/* Left Section */

#left_section {
	
	width: 1500px;
	float: left;

	margin: 10px 0px 10px 60px;
}

* html #left_section {
margin-left: 15px;
	
}

.post {
	
	width: 99%;
	
	margin-top: 40px;
	margin-bottom: 15px;
	
}

.post_top {
	
	width: 54%;
	height: 47px;
	background-color: #000000;
	
}

* html .post_top h1{
width: 100%;
	margin-bottom: -11px;
}

.post_top h1{
width: 100%;
	font-size: 28px;
	color:00FF00;
	font-weight:bold;
	padding-top: 15px;
	padding-left: 25px;
}

.post_mid {
	
	width: 54%;
	background-color: #000000;


}

.post_bottom {
	
	width: 80%;
	height: 39px;
	background: url(images/post_bottom.jpg) ;
	color: #00FF00;
	font-weight:bold;
	padding-top: 15px;
	padding-left: 25px;
}

.post_mid img{
	
	border: #ccc solid 1px;
	float: left;
	margin: 3px 15px 0 0;

}

.post_mid p{
width: 94%;
	font-weight:bold;
	font-family: Constantia;
	font-size: 20px;
	color: 00FF00;

	margin : 0px 25px 25px 25px;
	text-align: left;



}
.post_mid h3{
width: 94%;
	font-weight:bold;
	font-family: Constantia;

	color: 00FF00;

	margin : 0px 25px 25px 25px;
	text-align: left;
}

.post_mid h1{
width: 94%;
	font-weight:bold;
	font-family: Constantia;

	color: 00FF00;

	margin : 0px 25px 25px 25px;
	text-align: center;
}

.post_mid b{
width: 94%;
	font-weight:bold;
	font-family: Constantia;

	color: 00FF00;
	font-size:13px;
	margin : 0px -30px 25px 25px;
	text-align: left;



}
.post_second{
width: 94%;

	font-family: Constantia;

	color: #FFFFFF;
	font-size:13px;
	margin : 0px 25px 25px 85px;
	text-align: left;



}

span.post{

	margin: 5px;
	color: #000000;
	
	
}



/* End Of Left Section */


.clear{
	clear:both;
	height:1px;
}

#bottom_panel {
	clear: both;
	width: 100%;
	height: 322px;
	margin: 0 auto;
	background: #000000;
}

#bottom_panel #bottom_section{
	width: 960px;
	margin: 0 auto;
	height: 322px;

}

#bottom_section .bottom_section_box {
	float: left;
	display:inline;
	margin-top: 30px;
	margin-left: 30px;
	width: 278px;
	border: 1px solid #333333;
	background-color: #000000;
}

.bottom_section_box .top{
	
	width: 263px; /* +15 for padding left and + 2 for border */
	height: 25px;
	margin-top: 5px;
	color: #999999;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0 0 15px;
	background: url(images/buttom_section_box_top.jpg) no-repeat;
	
}

.bottom_section_box .body{
	width: 248px;
	padding: 15px;
}

.bottom_section_box .body ul{
	margin-left: 20px;
	padding: 0px;
	color: #000000;
}

.bottom_section_box .body li{
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}

.body p{
	
	text-align: justify;
	margin: 10px;
	padding: 0px;
	color: #000000;
}

#bottom_section #footer_section{
	clear: both;
	text-align: left;
	width: 960px;
	margin-top: 30px; 
	padding: 60px 0;
	color: #00FF00;

}

#footer_bottom h4 {
	color: #white;
	padding: 0px;
	text-align: center;
}

/* SLIDESHOW */

*{
	margin:0;
	padding:0;
}

#container{
	width:604px;
	height:453px;
	position:relative;

	left: 6.5%;
}

#container .prevButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('images/buttons.png') no-repeat;
	top:56%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:left top;
	left:0
}

#container .prevButton:hover{ background-position:left bottom;left:0;}

#container .nextButton{
	height:72px;
	width:68px;
	position:absolute;
	background:url('images/buttons.png') no-repeat;
	top:56%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:right top;
	right:0
}

#container .nextButton:hover{background-position:right bottom;right:0;}

#container ul{
	width:604px;
	height:453px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#container li:first-child{
	display:list-item;
	position:absolute;
}

#container li{
	position:absolute;
	display:none;
}

/* END OF SLIDESHOW */




/* CONTACT */

#pos1{
 position: relative;
    left: 240px;
 top: -190px;
 font-size: 20px;
color:#00FF00;
}
#pos2{
 position: relative;
    top: 0px;
left: 230px;
font-size: 16px;
color:#00FF00;
}
#pos3{
 position: relative;
    top: 10px;
left: 10%;
}

/* END OF CONTACT */

#data {
font-size:16px;
}

/* Flags icons */
#flags {

position:absolute; 
top: 219px;
left:980px;
}
/* End Flags icons */

/* Fontsize icons */

#fontsize {

position:absolute; 
top: 85px;
left:980px;
}

/* Change Colors */

#flags2{

position:absolute; 
top: 345px;
left:1020px;
}

#change {

position:absolute; 
font-size: 20px;
text-decoration: underline;
top: 310px;
left:1032px;
color: #00FF00;

]